<nav class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">
                <h2 class="show-for-large">VIDEO NDP Test Page</h2>
                <h3 class="show-for-medium-only">VIDEO NDP Test Page</h3>
                <h4 class="show-for-small-only">VIDEO NDP Test Page</h4>
            </li>
            <li></li>
        </ul>
    </div>

    <div class="top-bar-right">
        <ul class="menu"></ul>
    </div>
</nav>
