<div id="playerPanel" class="callout">
    <div id="parentlocation1" class="parent">
        <div id="playerOne" class="container_wrapper">
            <img alt="playerOne_Img Loading..." class="videoTease fixed" src="/" />
            <div class="videoLoadOverlay fixed"><div>Loading....</div></div>
        </div>
      {% if useCustomControlRack %}
        {% include 'customControlRack.html' %}
      {% endif %}
    </div>

    <p></p>
    <!--<div id="FWAd60"><div class="ovAdLabel">advertisement</div>-->
        <!--<span id="VPNT_2" class="_fwph">-->
            <!--<form id="_fw_form_VPNT_2" style="display:none"><input type="hidden" name="_fw_input_VPNT_2" id="_fw_input_VPNT_2" value="ptgt=s&amp;h=60&amp;w=300"></form>-->
            <!--<span id="_fw_container_VPNT_2"></span>-->
        <!--</span>-->
    <!--</div>-->
    <hr>

    <ul class="thumbnails"></ul>
</div>
